In [2]:
s = {1,2,1,2,3,4,3,5,2,3,5,7}
print(s)

{1, 2, 3, 4, 5, 7}

In [7]:
s = {1, False, True, 12, 'Snehal', 0}
print(s)

{False, 1, 'Snehal', 12}

In [8]:
print(len(s))

4

In [16]:
print({1,   (1,3,2,5)})

{1, (1, 3, 2, 5)}

In [17]:
s = {1,4,2,3,1,2,3,4,5,6}
s.add(23)
print(s)

{1, 2, 3, 4, 5, 6, 23}

In [21]:
s = {1,2,3,4}
l = ['a','s','d','f']
t = (2.2, 3.4, 5.6)

d = {0}
d.update(('Snehal', 'Mankar'))
print(d)

d.update(s)
print(d)

d.update(l)
print(d)

d.update(t)
print(d)

{0, 'Mankar', 'Snehal'}
{0, 1, 2, 3, 4, 'Mankar', 'Snehal'}
{0, 1, 2, 3, 4, 's', 'Mankar', 'Snehal', 'd', 'f', 'a'}
{0, 1, 2, 3, 4, 2.2, 3.4, 's', 5.6, 'Mankar', 'Snehal', 'd', 'f', 'a'}

In [23]:
u1 = {1,2,3,4}
u2 = {'a','b'}
u1.union(u2)

print(u1, u2)
print(u1.union(u2))

{1, 2, 3, 4} {'b', 'a'}
{1, 2, 3, 4, 'b', 'a'}

In [25]:
n = u1.union(u2)

n.remove(3)
print(n)

n.pop()
print(n)

{1, 2, 4, 'b', 'a'}
{2, 4, 'b', 'a'}

In [26]:
n.remove(1)
print(n)

KeyError: 1

In [27]:
n.discard(1)
print(n)

{2, 4, 'b', 'a'}

In [3]:
n = {1, 2, 3, 4, 'b', 'a'}

print(n)

{1, 2, 3, 4, 'a', 'b'}

In [4]:
n.clear()
print(n)

set()

In [5]:
del n
print(n)

NameError: name 'n' is not defined

In [8]:
# union
u1 = {1, 2, 3, 4}
u2 = {1.1, 2.2, 3.3, 4.4}
u3 = {'a', 'b', 'c', 'd'}
u4 = [True, False, False, True]

print(u1 | u2 | u3 | u4)

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [10]:
print(u1.union(u2, u3, u4))

{False, 1, 2, 3, 4, 1.1, 2.2, 3.3, 4.4, 'a', 'c', 'b', 'd'}

In [12]:
s = {1,2,4,3,5,7,4,6,8,4,2,5,3,6}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
print(mean(s))

NameError: name 'mean' is not defined

In [17]:
print(len(s))
print(sum(s))

8
36

In [18]:
# Frozenset
s = {1,2,4,3,5,7,4,6,8,4,2,5,3,6}
f = frozenset(s)
print(f)

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [20]:
# Union
s1 = {1,2}
s2 = (4.4,3.3)
s3 = ['a','b']
s4 = {True, False}
s5 = 'Snehal'

print(s1.union(s2, s3, s4, s5))

{False, 1, 2, 3.3, 4.4, 'n', 'l', 'S', 'a', 'h', 'b', 'e'}